<%- include('layouts/header'); %>
<div class="main">
    <h1>Selamat Datang di Aplikasi Data Teachers</h1>
    <br>
    <br>
    <a href="/teachers">Show All Data</a>
</div>
<%- include('layouts/footer'); %>